@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    margin: 0; box-sizing: border-box; padding: 0; background-color: white;
}
h2{
    font-family: "Roboto", sans-serif; text-decoration: none; font-weight: bolder; font-size: 32px; cursor: pointer; font-weight: 900; font-style: normal;
}
header{
    display: flex; justify-content: space-between; align-items: center; padding: 30px 0px;
}

.nav{
    list-style: none;
}

.nav li{
    display: inline-block; padding: 0px 20px;
}

.nav li a{
    font-size: 14px; font-weight: normal; font-style: normal; color: black; 
}

.member a{
    padding: 0px 10px;
}

.member > .side-a{
    font-size: 15px; font-weight: 500; font-family: Roboto; font-style: normal; color: #565656; 
}

.member > .side-b{
    font-size: 16px; font-weight: 500; font-family: Roboto; font-style: normal; color: #000000;
}

h6{
    position: absolute;width: 42px;height: 14px;left: 79px;top: 320px;font-family: Roboto;font-style: normal;font-weight: 900;font-size: 18px;line-height: 80%;color: #000000;
}
.elevator{
    position: absolute;width: 65px;height: 32px;left: 79px;top: 355px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 18px;line-height: 90%;color: #000000;
}

hr{
    position: absolute;width: 35px;height: 0px;left: 79px;top: 397px;border: 2px solid #000000;
}

.mission{
    position: absolute;width: 656px;height: 246px;left: 460px;top: 291px;font-family: Roboto;font-weight: bold;font-size: 112px;line-height: 110%;color: #000000;
}

.mission-text{
    position: absolute;width: 613px;height: 62px;left: 460px;top: 555px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 24px;line-height: 130%;color: #000000;
}
footer{
    position: absolute;width: 165px;height: 31px;left: 460px;top: 627px;font-family: Roboto;font-style: normal;font-weight: 500;font-size: 24px;line-height: 130%;color: #000000;
}

/*Form Section*/
form{
    padding: 40px; width: 350px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.form-header{
    text-align: justify; margin-bottom: 20px;
}

.form-group{
    margin: 6px;
}

.control-label{
    font-size: 14px; font-style: normal; font-family: Roboto;
}

.form-group input, .btn{
    height: 48px; width: 335px; font-size: 14px; outline: none; padding: 10px; box-sizing: border-box; border: solid 0.5px black; border-radius: 0.5px;
}
.btn{
    margin-top: 20px; background: #000000; color: #FFFFFF; font-size: 18px;
}